

* {
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

img{
    user-select: none !important;
    pointer-events:none !important;
}
#app img {
    max-height: 40vh;
}

.btn-graphene {
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background-color: rgba(173, 220, 203);
    color: #000;
    border: 2px solid #ADDCCB;
}

.btn-graphene:hover,
.btn-graphene:active,
.btn-graphene:focus {
    background-color: rgba(173, 220, 203, .3);
    border: 2px solid #ADDCCB;
    color: #000;
}

.navbar *{
    user-select: none !important;
}


body {
    overflow-x: hidden;
}
  .clear {
    position: fixed;
    bottom: 20px;
    left: calc(
      12% - 60px
    ); /* Position the clear button 60px to the left of the prompt field */
    z-index: 1; /* Ensure the clear button appears above the prompt field */
  }

  .prompt {
    position: fixed;
    bottom: 20px;
    max-width: 80vw;
    margin-left: 12%;
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    resize: none;
  }
  .send {
    position: fixed;
    bottom: 25px;
    right: calc(8% + 10px);
    transform: rotate(45deg);
  }

  .examples button {
    font-size: 14px;
  }

  .conversations {
    margin-bottom: 200px;
  }

  .conversation .role {
    font-size: 14px;
  }
  .conversation .message {
    border-radius: 10px;
    padding: 2%;
    white-space: pre-wrap;
  }

  .bg-ai {
    background-color: #5454541f;
  }
  .bg-you {
    background-color: #a6a6a68f;
    color: #000;
  }
  @media screen and (max-width: 440px) {
    /* Adjust the positioning for smaller screens */
    .clear {
      left: 10px;
    }

    .prompt {
      max-width: 80vw;
      margin-left: 16%;
    }

    .send {
      right: calc(5% + 10px);
    }
  }

  @media screen and (max-width: 380px) {
    /* Adjust the positioning for extra smaller screens */
    .prompt {
      max-width: 72vw;
      margin-left: 24%;
    }

    .send {
      right: calc(4% + 10px);
    }
  }